<header>
    <!-- Dodaj dodatkowe elementy nagłówka -->
    <div class = "headertext">
        <div class="headerleft">
            <a>Blog</a>
        </div>
        <button class = "but" mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Home</button>
        <button class = "but" mat-raised-button color="accent" type="submit" [routerLink]="'/postlist'">Posty</button>
        <button class = "but" mat-raised-button color="accent" type="submit" [routerLink]="'/profile'">Profil</button>
        <div class="headerright">
            <a>Obecnie zalogowano jako:</a>
            <button mat-raised-button color="accent" type="submit" [routerLink]="'/login'">Zaloguj Się</button>
            <button mat-raised-button color="accent" type="submit" [routerLink]="'/register'">Zarejestruj Się</button>
        </div>
    </div>
    
    
</header>