<header>
    <!-- Dodaj dodatkowe elementy nagłówka -->
    <div class = "headertext">
        <div class="headerleft">
            <a>Blog</a>
        </div>
        <button mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Home</button>
        <button mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Posty</button>
        <button mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Profil</button>
        <div class="headerright">
            <a>Obecnie zalogowano jako:</a>
            <button mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Zaloguj Się</button>
            <button mat-raised-button color="accent" type="submit" [routerLink]="'/home'">Zarejestruj Się</button>
        </div>
    </div>
    
    
</header>