<div class="container">
  <h3>{{ user.nickname }}</h3>
  <div>
  Dane:
    <ul>
      <li>
        email: {{user.email}}
      </li>
      <li>
        password:{{user.password}}
    </li>
      <li>
        name: {{user.name}}
      </li>
      <li>
        surname: {{user.surname}}
      </li>
      <li>
        liczba postów: {{user.posty ? user.posty.length : 0 }}
      </li>
      <li>
        id(do usuniecia tylko dla testu ustawiania przy dodawaniu): {{user.id}}
      </li>
    </ul>
    <button mat-raised-button color="warn" *ngIf="user.id===1" disabled (click)="deleteUser()">Delete user</button>
    <button mat-raised-button color="warn"*ngIf="user.id!==1" (click)="deleteUser()">Delete user</button>
  </div>
</div>
