<div mat-dialog-content class="center-form">
  <form [formGroup]="form">
    <h1>Zaloguj się</h1>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="login()" type="submit" [disabled]="form.invalid">Login</button>
  </form>
</div>