<div class="container" (mouseenter)="zmienWyglad(true)" (mouseleave)="zmienWyglad(false)">
  <h3 appUserRankDirective [nick]="user.nickname.valueOf()" [czyUstawic]="zmienna.valueOf()" color="red" font="courier">{{ user.nickname }}</h3>
  <div>
  Dane:
    <ul>
      <li>
        email: {{user.email}}
      </li>
      <li>
        password:{{user.password}}
    </li>
      <li>
        name: {{user.name}}
      </li>
      <li>
        surname: {{user.surname}}
      </li>
      <li>
        liczba postów: {{user.posty ? user.posty.length : 0 }}
      </li>
    </ul>
    <button mat-raised-button color="warn" *ngIf="user.id===1" disabled (click)="deleteUser()">Delete user</button>
    <button mat-raised-button color="warn"*ngIf="user.id!==1" (click)="deleteUser()">Delete user</button>
  </div>
</div>
